In [55]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import sqlite3

%matplotlib inline

In [56]:
# Read relevant tables into pandas dataframe
# IMDB database
# ***IMPORTANT*** Make sure to unzip the "im.db.zip" file into "im.db"
con = sqlite3.connect('../data/im.db') 
cursor = con.cursor()
imdb_schema_df = pd.read_sql('''
SELECT 
    *
FROM
    sqlite_master
''', con)

In [57]:
movie_basics_df = pd.read_sql('''
SELECT 
    *
FROM
    movie_basics
''', con)

movie_basics_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [58]:
movie_ratings_df = pd.read_sql('''
SELECT 
    *
FROM
    movie_ratings
''', con)

movie_ratings_df

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [59]:
# The Numbers movie information table
tn_movies_df = pd.read_csv('../data/tn.movie_budgets.csv.gz')

tn_movies_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [60]:
# TheMovieDB movie information table
tmdb_movies_df = pd.read_csv('../data/tmdb.movies.csv.gz')

tmdb_movies_df

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [61]:
# # Merge the following pandas dataframes together
#   1. movie_basics_df (from IMDB database)
#   2. movie_ratings_df (from IMDB database)
#   3. tn_movies_df (from The Numbers database)
#   4. tmdb_movies_df (from The Movie database)

movie_basics_ratings_df = pd.read_sql('''
SELECT
    *
FROM 
    movie_basics
    LEFT JOIN movie_ratings
        ON movie_basics.movie_id = movie_ratings.movie_id
''', con)

movie_basics_ratings_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6.5,119.0
...,...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,None,NaN,NaN
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,None,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,None,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,None,NaN,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,None,NaN,NaN

In [62]:
movie_basics_ratings_tmdb_df = movie_basics_ratings_df.merge(tmdb_movies_df,
                                                             left_on='primary_title',
                                                             right_on='title',
                                                             how='inner')
movie_basics_ratings_tmdb_df

,movie_id,primary_title,original_title_x,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes,Unnamed: 0,genre_ids,id,original_language,original_title_y,popularity,release_date,title,vote_average,vote_count
0,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517.0,24185,"[35, 18]",299782,en,The Other Side of the Wind,9.800,2018-11-02,The Other Side of the Wind,7.0,64
1,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",tt0112502,4.1,32.0,5872,"[27, 878, 12]",117856,en,Bigfoot,2.813,2012-06-30,Bigfoot,2.9,26
2,tt4503112,Bigfoot,Bigfoot,2018,NaN,"Action,Horror",tt4503112,4.6,9.0,5872,"[27, 878, 12]",117856,en,Bigfoot,2.813,2012-06-30,Bigfoot,2.9,26
3,tt9181914,Bigfoot,Bigfoot,2018,86.0,"Animation,Family",tt9181914,2.5,55.0,5872,"[27, 878, 12]",117856,en,Bigfoot,2.813,2012-06-30,Bigfoot,2.9,26
4,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,tt0192528,4.0,72.0,26332,[18],567662,en,Heaven & Hell,0.600,2018-11-06,Heaven & Hell,7.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23607,tt9678886,Vacancy,Vacancy,2018,81.0,Documentary,None,NaN,NaN,22942,"[35, 27]",475066,en,Vacancy,0.649,2017-10-27,Vacancy,9.0,1
23608,tt9777830,John Leguizamo's Latin History for Morons,John Leguizamo's Latin History for Morons,2018,NaN,Comedy,tt9777830,7.2,105.0,24840,[35],557606,en,John Leguizamo's Latin History for Morons,4.304,2018-11-05,John Leguizamo's Latin History for Morons,7.3,13
23609,tt9814730,The Flare,The Flare,2017,63.0,Sport,None,NaN,NaN,23218,[],469698,en,The Flare,0.600,2017-07-11,The Flare,9.0,1
23610,tt9862978,Terra,Terra,2018,60.0,Documentary,None,NaN,NaN,25626,[27],536235,en,Terra,1.767,2018-04-24,Terra,5.0,1
23611,tt9869514,Wake Up Call,Wake Up Call,2017,NaN,Action,None,NaN,NaN,13030,[16],544776,en,Wake Up Call,0.688,2014-06-07,Wake Up Call,6.2,3

In [63]:
movie_basics_ratings_tmdb_tn_df = movie_basics_ratings_tmdb_df.merge(tn_movies_df,
                                                                     left_on='title',
                                                                     right_on='movie',
                                                                     how='inner')

movie_basics_ratings_tmdb_tn_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4550 entries, 0 to 4549
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           4550 non-null   object
 1   primary_title      4550 non-null   object
 2   original_title_x   4549 non-null   object
 3   start_year         4550 non-null   int64
 4   runtime_minutes    4088 non-null   float64
 5   genres             4474 non-null   object
 6   movie_id           3361 non-null   object
 7   averagerating      3361 non-null   float64
 8   numvotes           3361 non-null   float64
 9   Unnamed: 0         4550 non-null   int64
 10  genre_ids          4550 non-null   object
 11  id_x               4550 non-null   int64
 12  original_language  4550 non-null   object
 13  original_title_y   4550 non-null   object
 14  popularity         4550 non-null   float64
 15  release_date_x     4550 non-null   object
 16  title              4550 non-null   object
 17  vote_average       4550 non-null   float64
 18  vote_count         4550 non-null   int64
 19  id_y               4550 non-null   int64
 20  release_date_y     4550 non-null   object
 21  movie              4550 non-null   object
 22  production_budget  4550 non-null   object
 23  domestic_gross     4550 non-null   object
 24  worldwide_gross    4550 non-null   object
dtypes: float64(5), int64(5), object(15)
memory usage: 924.2+ KB

In [64]:
# Remove columns not needed for analysis
#for column in movie_basics_ratings_tmdb_tn_df.colum
columns_to_drop = ['movie_id','primary_title', 'original_title_x', 'start_year',
       'runtime_minutes', 'movie_id','Unnamed: 0', 'id_x', 'original_language',
        'original_title_y','vote_average','title','id_y','release_date_y']

movie_basics_ratings_tmdb_tn_df.drop(columns = columns_to_drop,inplace=True)

In [65]:
# set movie column as dataframe index
movie_basics_ratings_tmdb_tn_df.set_index('movie',inplace=True)

In [66]:
# Remove any non-digit character from columns production_budget, domestic_gross
# and worldwide_gross and then convert the value for these columns to integer
for column_title in ['production_budget','domestic_gross','worldwide_gross']:
    movie_basics_ratings_tmdb_tn_df[column_title].replace('[^\d]','',inplace=True,regex=True)
    movie_basics_ratings_tmdb_tn_df[column_title] = movie_basics_ratings_tmdb_tn_df[
        column_title].astype(int)

In [67]:
#Change 'release_date_x' to datetime object and change column name to 'release_date'
movie_basics_ratings_tmdb_tn_df['release_date_x'] = pd.to_datetime(
    movie_basics_ratings_tmdb_tn_df['release_date_x'])

movie_basics_ratings_tmdb_tn_df.rename(columns ={'release_date_x' : 'release_date'},
                                      inplace=True)

In [68]:
movie_basics_ratings_tmdb_tn_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4550 entries, Foodfight! to The Magic Flute
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genres             4474 non-null   object
 1   averagerating      3361 non-null   float64
 2   numvotes           3361 non-null   float64
 3   genre_ids          4550 non-null   object
 4   popularity         4550 non-null   float64
 5   release_date       4550 non-null   datetime64[ns]
 6   vote_count         4550 non-null   int64
 7   production_budget  4550 non-null   int64
 8   domestic_gross     4550 non-null   int64
 9   worldwide_gross    4550 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(4), object(2)
memory usage: 391.0+ KB

In [69]:
#Replace from 'genre_ids' column the brackets '[' and ']' surrounding the numbers
movie_basics_ratings_tmdb_tn_df['genre_ids'].replace('[\[\]]','',regex=True,inplace=True)

In [70]:
# Create a new column called 'Assigned_genre_ids' and assign to it the first number 
# from 'genre_ids
movie_basics_ratings_tmdb_tn_df['Assigned_genre_ids'] = movie_basics_ratings_tmdb_tn_df[
    'genre_ids'].map(lambda s: s.split(',')[0])
movie_basics_ratings_tmdb_tn_df

,genres,averagerating,numvotes,genre_ids,popularity,release_date,vote_count,production_budget,domestic_gross,worldwide_gross,Assigned_genre_ids
movie,,,,,,,,,,,
Foodfight!,"Action,Animation,Comedy",1.9,8248.0,"16, 28, 35, 10751",4.705,2013-05-07,46,45000000,0,73706,16
The Overnight,None,7.5,24.0,"9648, 35",6.576,2015-06-19,200,200000,1109808,1165996,9648
The Overnight,"Comedy,Mystery",6.1,14828.0,"9648, 35",6.576,2015-06-19,200,200000,1109808,1165996,9648
On the Road,"Adventure,Drama,Romance",6.1,37886.0,"12, 18",8.919,2012-12-21,518,25000000,720828,9313302,12
On the Road,Drama,NaN,NaN,"12, 18",8.919,2012-12-21,518,25000000,720828,9313302,12
...,...,...,...,...,...,...,...,...,...,...,...
Dragon Ball Super: Broly,"Action,Adventure,Animation",8.0,16465.0,"28, 16, 14, 12, 35, 878",6.868,2019-01-16,721,8500000,30376755,122747755,28
Teefa in Trouble,"Action,Comedy,Crime",7.4,2724.0,"18, 35, 28, 80",4.486,2018-07-20,11,1500000,0,98806,18
Fahrenheit 11/9,Documentary,6.7,11628.0,99,10.003,2018-09-10,142,5000000,6352306,6653715,99
The Magic Flute,Music,NaN,NaN,"10402, 35, 14",0.647,2006-12-30,2,27000000,0,0,10402
The Magic Flute,Music,NaN,NaN,"14, 35, 10402, 10749",3.208,1975-11-11,28,27000000,0,0,14

In [94]:
# Drop rows where 'genre_ids' cell is empty
movie_basics_ratings_tmdb_tn_df.drop(
    movie_basics_ratings_tmdb_tn_df[
        movie_basics_ratings_tmdb_tn_df['genre_ids']== ''].index,inplace=True)

#drop rows if production_budget, domestic_gross or worldwide_gross has a value of zero
movie_basics_ratings_tmdb_tn_df.drop(movie_basics_ratings_tmdb_tn_df[
    (movie_basics_ratings_tmdb_tn_df['production_budget'] == 0) |
                 (movie_basics_ratings_tmdb_tn_df['domestic_gross'] == 0) | 
                 (movie_basics_ratings_tmdb_tn_df[
                     'production_budget'] == 0)].index,inplace=True)

#Remove rows with release date less that 2000
movie_basics_ratings_tmdb_tn_df.drop(movie_basics_ratings_tmdb_tn_df[
    movie_basics_ratings_tmdb_tn_df[
        'release_date'] < pd.to_datetime('2000')].index,inplace=True)

# Change data type for column 'Assigned_genre_ids' to integer
movie_basics_ratings_tmdb_tn_df['Assigned_genre_ids'] = movie_basics_ratings_tmdb_tn_df[
    'Assigned_genre_ids'].astype(int)

In [95]:
# Create a dictionary called 'genre_ids_dict' with key assocaited with 'Assigned_genre_ids'
# and values with writtten genre name  
genre_ids_dict = {
                28 : 'Action', 12 : 'Adventure', 16 : 'Animation', 35 : 'Comedy',
                80 : 'Crime', 99 : 'Documentary', 18: 'Drama', 10751 : 'Family',
                14 : 'Fantasy', 36 : 'History', 27 : 'Horror', 10402 : 'Music',
                9648 : 'Mystery', 10749 : 'Romance', 878 : 'Science Fiction',
                10770 : 'TV Movie', 53 : 'Thriller', 10752 : 'War', 37 : 'Western'}


# Create a column called 'Assigned_genre_name' and use the dictionary called 'genre_ids_dict
# input written genre name with the respective key
movie_basics_ratings_tmdb_tn_df['Assigned_genre_name'] = movie_basics_ratings_tmdb_tn_df[
    'Assigned_genre_ids'].map(lambda n: genre_ids_dict[n])

movie_basics_ratings_tmdb_tn_df

,genres,averagerating,numvotes,genre_ids,popularity,release_date,vote_count,production_budget,domestic_gross,worldwide_gross,Assigned_genre_ids,Assigned_genre_name
movie,,,,,,,,,,,,
The Overnight,None,7.5,24.0,"9648, 35",6.576,2015-06-19,200,200000,1109808,1165996,9648,Mystery
The Overnight,"Comedy,Mystery",6.1,14828.0,"9648, 35",6.576,2015-06-19,200,200000,1109808,1165996,9648,Mystery
On the Road,"Adventure,Drama,Romance",6.1,37886.0,"12, 18",8.919,2012-12-21,518,25000000,720828,9313302,12,Adventure
On the Road,Drama,NaN,NaN,"12, 18",8.919,2012-12-21,518,25000000,720828,9313302,12,Adventure
On the Road,Documentary,NaN,NaN,"12, 18",8.919,2012-12-21,518,25000000,720828,9313302,12,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...
"Paul, Apostle of Christ","Adventure,Biography,Drama",6.7,5662.0,36,12.005,2018-03-28,98,5000000,17547999,25529498,36,History
Instant Family,"Comedy,Drama",7.4,46728.0,"35, 18",22.634,2018-11-16,782,48000000,67363237,119736188,35,Comedy
Hereditary,"Drama,Horror,Mystery",7.3,151571.0,"27, 9648, 53",26.185,2018-06-08,2491,10000000,44069456,70133905,27,Horror
Dragon Ball Super: Broly,"Action,Adventure,Animation",8.0,16465.0,"28, 16, 14, 12, 35, 878",6.868,2019-01-16,721,8500000,30376755,122747755,28,Action
Fahrenheit 11/9,Documentary,6.7,11628.0,99,10.003,2018-09-10,142,5000000,6352306,6653715,99,Documentary

In [97]:
# Create a dataframe called 'genre_ratings_df' by cpying 'movie_basics_ratings_tmdb_tn_df' 
# and rearrange columns so related columns palced to onanother

genre_ratings_df = movie_basics_ratings_tmdb_tn_df[['genres','genre_ids','Assigned_genre_ids',
                                                   'Assigned_genre_name','averagerating',
                                                    'numvotes','popularity','vote_count',
                                                    'release_date','production_budget',
                                                    'domestic_gross','worldwide_gross']].copy()

genre_ratings_df

,genres,genre_ids,Assigned_genre_ids,Assigned_genre_name,averagerating,numvotes,popularity,vote_count,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,,,,,,,,,
The Overnight,None,"9648, 35",9648,Mystery,7.5,24.0,6.576,200,2015-06-19,200000,1109808,1165996
The Overnight,"Comedy,Mystery","9648, 35",9648,Mystery,6.1,14828.0,6.576,200,2015-06-19,200000,1109808,1165996
On the Road,"Adventure,Drama,Romance","12, 18",12,Adventure,6.1,37886.0,8.919,518,2012-12-21,25000000,720828,9313302
On the Road,Drama,"12, 18",12,Adventure,NaN,NaN,8.919,518,2012-12-21,25000000,720828,9313302
On the Road,Documentary,"12, 18",12,Adventure,NaN,NaN,8.919,518,2012-12-21,25000000,720828,9313302
...,...,...,...,...,...,...,...,...,...,...,...,...
"Paul, Apostle of Christ","Adventure,Biography,Drama",36,36,History,6.7,5662.0,12.005,98,2018-03-28,5000000,17547999,25529498
Instant Family,"Comedy,Drama","35, 18",35,Comedy,7.4,46728.0,22.634,782,2018-11-16,48000000,67363237,119736188
Hereditary,"Drama,Horror,Mystery","27, 9648, 53",27,Horror,7.3,151571.0,26.185,2491,2018-06-08,10000000,44069456,70133905
Dragon Ball Super: Broly,"Action,Adventure,Animation","28, 16, 14, 12, 35, 878",28,Action,8.0,16465.0,6.868,721,2019-01-16,8500000,30376755,122747755
Fahrenheit 11/9,Documentary,99,99,Documentary,6.7,11628.0,10.003,142,2018-09-10,5000000,6352306,6653715

In [98]:
genre_ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3174 entries, The Overnight to Fahrenheit 11/9
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   genres               3130 non-null   object
 1   genre_ids            3174 non-null   object
 2   Assigned_genre_ids   3174 non-null   int64
 3   Assigned_genre_name  3174 non-null   object
 4   averagerating        2597 non-null   float64
 5   numvotes             2597 non-null   float64
 6   popularity           3174 non-null   float64
 7   vote_count           3174 non-null   int64
 8   release_date         3174 non-null   datetime64[ns]
 9   production_budget    3174 non-null   int64
 10  domestic_gross       3174 non-null   int64
 11  worldwide_gross      3174 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(3)
memory usage: 322.4+ KB